
/* Copied from Bootstrap to make sticky-footer */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there !!Reduced by 10px to accomodate header!!*/
    background-color: #f5f5f5;
  }

/* End copy */


body {
    background-image: url("background.jpg");
    background-size: cover;
}

nav {
    font-family: Tajawal;
}

footer {
    border-top: 10px solid #BBCCF5;
    font-family: Tajawal;
}

.about-me {
    margin-top: 100px;
    border: 2px solid #BBCCF5;
    border-radius: 10px;
    
    
}

.raincoat {
    max-width: 200px;
    margin-right: 25px;
    border-radius: 10px
}
